---
import Layout from "../layouts/Layout.astro";
import nosotros from "../img/nosotros.jpg";
---

<Layout
  title="Nosotros"
  description="Pagina de tienda de instrumentos musicales"
>
  <main class="contenedor">
    <h1 class="heading">Nosotros</h1>
    <div class="contenido">
      <img src={nosotros.src} alt="imagen sobre nosotros" />
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus labore
          iure reiciendis maiores! Minus, corrupti facere porro mollitia a id ab
          atque assumenda accusantium, reiciendis voluptatem quae quibusdam
          vitae laborum? Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Quis sunt atque quisquam, inventore facilis enim autem! Sint
          exercitationem repudiandae debitis magni, aspernatur praesentium
          possimus blanditiis reiciendis voluptates? Veritatis, cupiditate
          harum.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit iusto
          id rerum. Aperiam officia repellat velit. Maxime fugit aspernatur
          quidem voluptas aut iusto sit nostrum commodi eius. Reprehenderit,
          incidunt tenetur.
        </p>
      </div>
    </div>
  </main>
</Layout>

<style>
  .contenido {
    display: grid;
    gap: 4rem;
  }
  @media (min-width: 768px) {
    .contenido {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }
</style>
